<div class="container-fluid">
  <h1>SHOW MEAL EVENT</h1>

  <div>
    <ul>
      <li> EventName: {{ mealEvent.eventName }}</li>

      <li> Cuisine: {{ mealEvent.cuisine }} </li>
      
      <li> Dish:{{ mealEvent.dish }} </li>

      <li> Date: {{ mealEvent.date }}</li>

      <li> Event Photo: {{ mealEvent.eventImg }} </li>

      <li> Description: {{ mealEvent.eventDescription }} </li>

      <li> Number of guests: {{ mealEvent.numberAttend }} </label>
    </ul>

    {{!-- if current user is the host of this event --}}
    {{#ifeqId mealEvent.host currentUserId }}
      <p>You are the host of this event</p>
      <button><a href="meal-events/{{mealEvent._id}}/edit">Edit this event</a></button>
      <button><a href="/meal-events/{{mealEvent._id}}/delete">Delete this event</a></button>
    {{else}}
      {{!-- if current user is not the host but is a guest of this event --}}
      {{#ifinc mealEvent.guest currentUserId}}
        <p>You attend this event</p>
        <form action="/meal-events/{{mealEvent._id}}/cancel" method="POST">
          <button type="submit">Cancel attendance</button>
        </form>
      {{!-- if current user is not a guest of this event either --}}
      {{else}}
        <form action="/meal-events/{{mealEvent._id}}/attend" method="POST">
          <button type="submit">Attend</button>
        </form>
      {{/ifinc}}

    {{/ifeqId}}
  </div>

  <div>
    <p><a href="/profile/{{currentUserId}}">Back to your profile</a></p>
    <p><a href="/meal-events">Back to the list of events</a></p>
  </div>
</div>