<div class="container-fluid">
    <div class="card">
    <div class="card-body">
  <h2 class="card-title text-center font-weight-bold">{{ mealEvent.eventName }}</h2>
</div>
  <div class="event-container">

    <img class="card-img-top" src="{{ mealEvent.eventImg }}" alt="Event image">
    
    <div class="card-body">
      <p class="card-text"> <span class="font-weight-bold">EventName: </span>{{ mealEvent.eventName }}</p>
      <p class="card-text"> <span class="font-weight-bold">Date:</span>  {{ dateFormat mealEvent.date "dddd, MMMM Do YYYY, h:mm"}}</p>
      {{#ifeqId mealEvent.host._id userInfo._id }}
        <p class="card-text"><span class="font-weight-bold">Host: </span>It's your event!</p>
      {{else}}
        <p class="card-text"> <span class="font-weight-bold">Host: </span><a href="/profile/{{ mealEvent.host._id }}">{{mealEvent.host.name}}</a></p>
      {{/ifeqId}}

      {{#if mealEvent.acceptedGuests}}
        <p class="card-title"><span class="font-weight-bold">Guests attending this event:</span></p>
        <ul class="list-group">
        {{#each mealEvent.acceptedGuests}}
          <li class="list-group-item mb-2"><a href="/profile/{{this._id}}">{{this.name}}</a></li>
        {{/each}}
        </ul>
      {{/if}}


      <p class="card-text"> <span class="font-weight-bold">Cuisine: </span>{{ mealEvent.cuisine }} </p>
      <p class="card-text"> <span class="font-weight-bold">Number of guests: </span>{{ mealEvent.numberAttend }}</p>
      <p class="card-text"> <span class="font-weight-bold">Dish: </span>{{ mealEvent.dish }}</p>
      <p class="card-text"> <span class="font-weight-bold">Neighbourhood:</span> {{ mealEvent.host.address.zipcode }}</p>
      <p class="card-text"> <span class="font-weight-bold">Description:</span> {{ mealEvent.eventDescription }}</p>
    </div>
  </div>

    {{!-- if current user is the host of this event --}}
    {{#ifeqId mealEvent.host._id userInfo._id }}

    <div class="user-actions">
      <a class="btn btn-primary ml-4 mb-3" href="/meal-events/{{mealEvent._id}}/edit">Edit this event</a>
      <a class="btn btn-primary ml-3 mb-3" href="/meal-events/{{mealEvent._id}}/delete">Delete this event</a>
    </div>
    

    {{else}}
      {{!-- if current user is not the host but is a guest of this event --}}
       {{#if type.accepted}}
      <div class="card-body">
        <p class="card-text font-weight-bold">You attend this event</p>
        <p class="card-text font-weight-bold">This is the address:</p>
        <ul>
          <li class="card-text">{{ mealEvent.host.address.street }}</li>
          <li class="card-text">{{ mealEvent.host.address.houseNumber }}</li>
          <li class="card-text">{{ mealEvent.host.address.zipcode }}</li>
          <li class="card-text">{{ mealEvent.host.address.city }}</li>
        </ul>
        </div>
          <form action="/meal-events/{{mealEvent._id}}/cancel" method="POST">
            <button class="btn btn-primary btn-sm ml-4 mb-4" type="submit">Cancel attendance</button>
          </form>
     
      {{!-- if current user is not a guest of this event either --}}
      {{else if type.pending}}
        <button class="btn btn-warning">Pending</button>
      
       {{!-- if current user is not a guest and not a host --}}
      {{else}}
        <form action="/meal-events/{{mealEvent._id}}/attend" method="POST">
          <button class="btn btn-primary btn-block" type="submit">Attend</button>
        </form>
      {{/if}}
  
  {{/ifeqId}}
</div>




