<div class="container-fluid">
  <div class="jumbotron">
  {{!-- <h1>ALL THE EVENTS</h1> --}}
  <h2>See all the events in your neighbourhood: {{userInfo.address.zipcode}}</h2>
</div>

  <div>
    {{#if allMealEventsFromDB}}
      {{#each allMealEventsFromDB}}
      {{!-- if current user zipcode matches the event host zipcode --}}
      {{#ifeq this.host.address.zipcode this.userZipcode}}
      {{!-- <p>ZIPCODDDEEE: {{../userInfo.address.zipcode}} </p> --}}
      <div class="card event-preview">
        <img class="card-img-top" src="{{ this.eventImg }}" alt="Event image">
        <div class="card-body">
          <h3 class="card-title"><a href="/meal-events/{{ this._id }}">{{ this.eventName }}</a></h3>
          <p class="card-title">Date: {{dateFormat this.date "dddd, MMMM Do YYYY, h:mm"}}</p>
          
          {{#ifeqId this.host._id this.userId}}
              <p class="card-text">Host: yourself</p>
          {{else}}
              <p class="card-text">Host: <a href="/profile/{{ this.host._id }}">{{ this.host.name }}</a></p>
          {{/ifeqId}}

          <p class="card-text">Cuisine: {{ this.cuisine }}</p>
          <p class="card-text">Neighbourhood: {{ this.host.address.zipcode }}</p>
          <a class="btn btn-primary" href="/meal-events/{{ this._id }}">Check out this event</a>
        </div>
      </div>
      
        <br>
        {{/ifeq}}
      {{/each}}

    {{else}}

    <p>Ooops! No meal events has been found in your neighbourhood! </p>
    <p>Will you be the first one? </p>

    {{/if}}
  </div>

  <div>
    <a class="btn btn-primary btn-sm" href="/meal-events/create">Create a new event</a>
  </div>
</div>