<div class="container-fluid">
    <div class="card">
    <div class="card-body">
  <h1 class="card-title">{{ mealEvent.eventName }}</h1>
</div>
  <div class="event-container">

    <img class="card-img-top" src="{{ mealEvent.eventImg }}" alt="Event image">
    
    <div class="card-body">
      <p class="card-text"> EventName: {{ mealEvent.eventName }}</p>
      <p class="card-text"> Date: {{ dateFormat mealEvent.date "dddd, MMMM Do YYYY, h:mm"}}</p>
      {{#ifeqId mealEvent.host._id userInfo._id }}
        <p class="card-text">Host: yourself</p>
      {{else}}
        <p class="card-text"> Host: <a href="/profile/{{ mealEvent.host._id }}">{{mealEvent.host.name}}</a></p>
      {{/ifeqId}}

      {{#if mealEvent.acceptedGuests}}
        <p>Guests attending this event:</p>
        <ul>
        {{#each mealEvent.acceptedGuests}}
          <li><a href="/profile/{{this._id}}">{{this.name}}</a></li>
        {{/each}}
        </ul>
      {{/if}}


      <p class="card-text"> Cuisine: {{ mealEvent.cuisine }} </p>
      <p class="card-text"> Number of guests: {{ mealEvent.numberAttend }}</p>

    </div>

    <div class="card-body">
      <p class="card-text"> Dish: {{ mealEvent.dish }}</p>
      <p class="card-text"> Neighbourhood: {{ mealEvent.host.address.zipcode }}</p>
      <p class="card-text"> Description: {{ mealEvent.eventDescription }}</p>
    </div>
  </div>
</div>
  <div>
    {{!-- if current user is the host of this event --}}
    {{#ifeqId mealEvent.host._id userInfo._id }}

    <div class="user-actions">
      <a class="btn btn-primary my-2" href="/meal-events/{{mealEvent._id}}/edit">Edit this event</a>
      <a class="btn btn-primary my-2" href="/meal-events/{{mealEvent._id}}/delete">Delete this event</a>
    </div>

    {{else}}
      {{!-- if current user is not the host but is a guest of this event --}}
       {{#if type.accepted}}
      <div class="card-body">
        <p class="card-text">You attend this event</p>
        <p class="card-text">This is the address:</p>
        <ul>
          <li class="card-text">{{ mealEvent.host.address.street }}</li>
          <li class="card-text">{{ mealEvent.host.address.houseNumber }}</li>
          <li class="card-text">{{ mealEvent.host.address.zipcode }}</li>
          <li class="card-text">{{ mealEvent.host.address.city }}</li>
        </ul>
        </div>
          <form action="/meal-events/{{mealEvent._id}}/cancel" method="POST">
            <button type="submit">Cancel attendance</button>
          </form>
     
      {{!-- if current user is not a guest of this event either --}}
      {{else if type.pending}}
        <button>Pending</button>
      
       {{!-- if current user is not a guest and not a host --}}
      {{else}}
        <form action="/meal-events/{{mealEvent._id}}/attend" method="POST">
          <button class="btn btn-primary my-2" type="submit">Attend</button>
        </form>
      {{/if}}
  
  {{/ifeqId}}

  <div class="user-actions">
    <p><a class="btn btn-outline-primary" href="/profile/{{userInfo._id}}">Back to your profile</a></p>
    <p><a class="btn btn-outline-primary" href="/meal-events">Back to the list of events</a></p>

  </div>
</div>


