<h1>SHOW MEAL EVENT</h1>


<div>
  <ul>
        <li> EventName: {{ mealEvent.eventName }}</li>
        <li> Cuisine: {{ mealEvent.cuisine }} </li>
        <li> Dish:{{ mealEvent.dish }} </li>

        <li> Date: {{ mealEvent.date }}</li>
  
        <li> Event Photo: {{ mealEvent.eventImg }} </li>
 
        <li> Description: {{ mealEvent.eventDescription }} </li>
  
  
        <li> Number of guests: {{ mealEvent.numberAttend }} </label>
        
      </ul>
      </div>