<nav class="navbar fixed-top navbar-light bg-light justify-content-end pt-2 pb-0 mb-0">
    <form class="form-inline">
        <p class="lead"><a class="btn btn-primary btn-sm mr-2" href="/signup">Signup</a></p>
        <p class="lead"><a class="btn btn-primary btn-sm mr-2" href="/login">Login</a></p>
    </form>
</nav>

<div class="home container-fluid">

    
      <img class="card-img-top p-0 m-0"src="/images/logo.png" alt="">
      {{!-- <div class="jumbotron p-0 ">
        <p class="lead">Welcome to our app</p>
    </div> --}}

<div class="input-group">
    <form class="input-group-prepend" action="/search" method="GET">
        <input class="form-control ml-4" type="text" name="zipcode" placeholder="Enter your zipcode">
        <button class="btn btn-primary btn-sm" type="submit">Search</button>
    </form>
</div>

<br>

    {{!-- {{#if eventsNearZipcode}}
    <div>
        <h2>Neighbours events happening near you</h2>
        <div class="search-results ">
            {{#each eventsNearZipcode}}
            <div class="event-preview card mb-3">
                <img class="card-img-top" src="{{ this.eventImg }}" alt="Event image">
                <div class="card-body">
                    <h3 class="card-title"><a href="/meal-events/{{ this._id }}">{{ this.eventName }}</a></h3>
                    <p class="card-text">Cuisine: {{ this.cuisine }}</p>
                    <p class="card-text">Neighbourhood: {{ this.host.address.zipcode }}</p>
                    <a href="/meal-events/{{ this._id }}"><button class="btn btn-primary btn-sm">Check out this event</button></a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{/if}} --}}

{{#if eventsNearZipcode}}
  <div class="search-results">
      <h2 class="lead">Neighbours events happening soon in {{eventsNearZipcode.0.host.address.zipcode}} </h2>
      {{#each eventsNearZipcode}}
      <div class="event-preview card mb-3">
        <img class="card-img-top" src="{{ this.eventImg }}" alt="Event image" width="300">
        <h3 class="card-title text-center"><a href="/meal-events/{{ this._id }}">{{ this.eventName }}</a></h3>
        <p class="card-text">Cuisine: {{ this.cuisine }}</p>
        <p class="card-text">Neighbourhood: {{ this.host.address.zipcode }}</p>
        <a href="/meal-events/{{ this._id }}"><button class="btn btn-primary btn-sm ml-4">Check out this event</button></a>
    </div>
      {{/each}}
  </div>
{{else}}
  {{#unless allMealsFromDB}}
  <div class="jumbotron pb-2">
    <p class="display-6">Ooops! No meal events has been found in your neighbourhood! </p>
    <p class="lead">Will you be the first one? </p>
    <a class="btn btn-primary btn-sm mr-2" href="/login">Create an event</a>
    </div>
  {{/unless}}
{{/if}}


{{#if allMealsFromDB}} 
  {{!-- {{#unless eventsNearZipcode}} --}}
    <div class="event-preview"></div>
    <h2 class="lead">Neighbours events happening soon</h2>
      {{#each allMealsFromDB}}
        {{#ifIndexLessThan3 @index}}
        <div class="event-preview card mb-3">
          <img class="card-img-top" src="{{ this.eventImg }}" alt="Event image" width="300">
          <h3 class="card-title pl-5"><a href="/meal-events/{{ this._id }}">{{ this.eventName }}</a></h3>
          <p class="card-text pl-2">Cuisine: {{ this.cuisine }}</p>
          <p class="card-text pl-2">Neighbourhood: {{ this.host.address.zipcode }}</p>
          <a class="btn btn-secondary btn-sm pl-2" href="/meal-events/{{ this._id }}">Check out this event</a>
    </div>
        {{/ifIndexLessThan3}}
      {{/each}}
  </div>
{{/if}}

</div>
