<div class="container-fluid">
  <h1>EDIT YOUR PROFILE</h1>

  <form action='/profile/{{user._id}}/edit' method='POST' enctype="multipart/form-data">
    <div class="form-group font-weight-bold">
      <label for=''>Name</label>
      <input class="form-control" type='text' name='name' value='{{user.name}}'>
    </div>
    <div class="form-group font-weight-bold">
      <label for=''>Email</label>
      <input class="form-control" type='email' name='email' value='{{user.email}}'>
    </div>
    <div class="form-group font-weight-bold">
      <label for=''>Password</label>
      <input class="form-control" type='password' name='password' value='{{user.password}}'>
    </div>
    <div class="form-group font-weight-bold">
      <label for=''>Address</label>
      <input class="form-control" type='text' name='street' value='{{user.address.street}}'>
      <input class="form-control" type='number' name='houseNumber' value='{{user.address.houseNumber}}'>
      <input class="form-control" type='number' name='zipcode' value='{{user.address.zipcode}}'>
      <input class="form-control" type='text' name='city' value='{{user.address.city}}'>
    </div>
    <div class="form-group font-weight-bold">
      <label for=''>About me</label>
      <input class="form-control" type='textarea' name='description' value='{{user.description}}'>
    </div>
    <div class="form-group font-weight-bold">
      <label for='profileImg'>Image</label>
      <img class="card-img-top" src="{{user.profileImg}}" alt="profileImg">
      <input class="form-control" type='file' name='profileImg' value='{{user.profileImg}}'>
    </div>
    <button class="btn btn-primary" type='submit'>Save changes</button>
  </form>
</div>