<div class="container-fluid">
  <div class="jumbotron">
  <h1 class="display-6">MY EVENTS</h1>
  </div>

  <div class="jumbotron mb-0">
    <h2 class="display-6">EVENTS I HOST</h2>

  {{#if mealEventHost}}
      <div class="hosted-event">

    {{#each mealEventHost}}
    <p class="card-text">{{incremented @index}}.
       {{dateFormat this.date "dddd, MMMM Do YYYY, h:mm"}} -
      <a href="/meal-events/{{this._id}}">{{this.eventName}}</a>
    </p>

      {{#if this.pendingGuests}}
        <div>
        <h6 class="lead" >Pending guests:</h6>
          {{#each this.pendingGuests}}
          <div class="pending-guest">
            <p class="card-text"> 
              {{#each ../../guestsInfo}}  
                {{#ifeqId this._id ../this}}
                  Name: <a href="/profile/{{../this}}"> {{this.name}}</a>
                {{/ifeqId}}
              {{/each}}
            </p>
            <form action="/meal-events/{{../this._id}}/accept/{{this}}" method="POST">
              <button class="btn btn-success btn-sm" type="submit">Accept</button>
            </form>
            <form action="/meal-events/{{../this._id}}/decline/{{this}}" method="POST">
              <button class="btn btn-danger btn-sm" type="submit">Decline</button>
            </form>
          </div>
          {{/each}}
      </div>
      {{/if}}
    {{/each}}

  {{else}}
    <p class="card-text">You don't host any event yet</p>
    <p><a class="btn btn-primary btn-sm" href="/meal-events/create">Create a new event</a></p>
    
  {{/if}}
  </div>
</div>

<div class="jumbotron">
  <h2 class="display-6">EVENTS I ATTEND</h2>
  <div>
    {{#if mealEventGuest}}
      {{#each mealEventGuest}}
        <h3>{{incremented @index}}. 
          {{dateFormat this.date "dddd, MMMM Do YYYY, h:mm"}}
          <a href="/meal-events/{{this._id}}">{{this.eventName}}</a></h3>
      {{/each}}
    {{else}}
      <p class="card-text">You don't attend any event yet</p>
      <p><a href="/meal-events">See the list of events</a></p>
    {{/if}}
  </div>

  <div>
    {{#if mealEventPending}}
    <p class="lead font-weight-bold">Events pending:</p>
    <ul class="list-group">
    {{#each mealEventPending}}
      <li class="list-group-item">{{dateFormat this.date "dddd, MMM Do YYYY, h:mm a"}} <a href="/meal-events/{{this._id}}">{{this.eventName}}</a></li>
    {{/each}}
    </ul>
    {{/if}}
  </div>
</div>
