<div class="container-fluid">
  <h1>MY EVENTS</h1>

  <h2>EVENTS I HOST</h2>

  {{#if mealEventHost}}
  <div class="hosted-event">

    {{#each mealEventHost}}
    <h3>{{incremented @index}}.
       {{this.date}} -
      <a href="/meal-events/{{this._id}}">{{this.eventName}}</a>
    </h3>

      {{#if this.pendingGuests}}
      <div>
        <h6>Pending guests:</h6>
          {{#each this.pendingGuests}}
          <div class="pending-guest">
            <p><a href="/profile/{{this}}">Guest</a></p>
            <form action="/meal-events/{{../this._id}}/accept/{{this}}" method="POST">
              <button type="submit">Accept</button>
            </form>
            <form action="/meal-events/{{../this._id}}/decline/{{this}}" method="POST">
              <button type="submit">Decline</button>
            </form>
          </div>
          {{/each}}
      </div>
      {{/if}}
    {{/each}}

  {{else}}
    <p>You don't host any event yet</p>
    <p><a href="/meal-events/create">Create a new event</a></p>
    
  {{/if}}
  </div>

  <hr>

  <h2>EVENTS I ATTEND</h2>
  <div>
    {{#if mealEventGuest}}
      {{#each mealEventGuest}}
        <h3>{{incremented @index}}. 
          {{this.date}} -
          <a href="/meal-events/{{this._id}}">{{this.eventName}}</a></h3>
      {{/each}}
    {{else}}
      <p>You don't attend any event yet</p>
      <p><a href="/meal-events">See the list of events</a></p>
    {{/if}}
  </div>

  <div>
    {{#if mealEventPending}}
    <p>Events pending:</p>
    {{#each mealEventPending}}
      <li><a href="/meal-events/{{this._id}}">{{this.eventName}}</a></li>
    {{/each}}
    {{/if}}
  </div>
</div>