<div class="container-fluid">
  <h1>USER PROFILE</h1>

  <p>Name: {{oneUser.name}}</p>
  <p>Image: <img src="{{oneUser.profileImg}}" alt="Profile picture" width="300"></p>
  <p>Address: 
    {{#ifeqId oneUser._id userInfo._id}}
      {{oneUser.address.street}} {{oneUser.address.houseNumber}}
      {{oneUser.address.zipcode}} {{oneUser.address.city}}</p>
    {{/ifeqId}}

    {{#ifneqId oneUser._id userInfo._id}}
      {{oneUser.address.zipcode}}
    {{/ifneqId}}
    
  <p>Description: {{oneUser.description}}</p>

  <div>
    <p>Reviews:</p>
    {{!-- if user is on his profile --}}
    {{#ifeqId oneUser._id userInfo._id}}
      You have {{oneUser.reviews.length}} review(s)


    {{else}}
    {{!-- if current user is on another user profile --}}
      {{oneUser.reviews.length}} review(s)
    
      {{!-- if current user is or has been a guest to this other user --}}
      {{#if arrayOfGuests}}
        {{#each arrayOfGuests}}
          {{#ifeqId this ../userInfo._id}}
          <form action="/profile/{{../oneUser._id}}/review" method="POST">
            <label for="review">Write a review for this user: </label>
            <input name="review" type="textarea">
            <button type="submit">Submit review</button>
          </form>
          {{/ifeqId}}
        {{/each}}
      {{/if}}

      {{!-- if current user is or has been a host to this other user --}}
      {{#if host}}
        {{#ifeqId host userInfo._id}}
          <form action="/profile/{{oneUser._id}}/review" method="POST">
            <label for="review">Write a review for this user: </label>
            <input name="review" type="textarea">
            <button type="submit">Submit review</button>
          </form>
        {{/ifeqId}}
      {{/if}}
    {{/ifeqId}}

    <ul>
      {{#each oneUser.reviews}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>

  {{#ifeqId oneUser._id userInfo._id}}
  <div class="user-actions">
    <button><a href="/profile/{{oneUser._id}}/edit">Edit profile</a></button>
    <button id="delete-button"><a href="/profile/{{oneUser._id}}/delete">Delete profile</a></button>
    <p><a href="/profile/{{oneUser._id}}/events">See my events</a></p>
  </div>
</div>
{{/ifeqId}}