<div class="container-fluid">
  <h1>USER PROFILE</h1>

  <p>Name: {{oneUser.name}}</p>
  <p>Image: <img src="{{oneUser.profileImg}}" alt="Profile picture"></p>
  <p>Address: <br>
  {{oneUser.address.houseNumber}} {{oneUser.address.street}}<br>
  {{oneUser.address.zipcode}} {{oneUser.address.city}}</p>
  <p>Description: {{oneUser.description}}</p>
  <div>
    <p>Reviews:</p>
    <ul>
      {{#each oneUser.reviews}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>

  <div class="user-actions">
    <button><a href="/profile/{{oneUser._id}}/edit">Edit profile</a></button>
    <button id="delete-button"><a href="/profile/{{oneUser._id}}/delete">Delete profile</a></button>
    <p><a href="/profile/{{oneUser._id}}/events">See my events</a></p>
    <p><a href="/signout">Logout</a></p>
  </div>
</div>