<div class="container-fluid">
  <h1>USER PROFILE</h1>

  <p>Name: {{oneUser.name}}</p>
  <p>Image: <img src="{{oneUser.profileImg}}" alt="Profile picture" width="300"></p>
  <p>Address: <br>
  {{oneUser.address.houseNumber}} {{oneUser.address.street}}<br>
  {{oneUser.address.zipcode}} {{oneUser.address.city}}</p>
  <p>Description: {{oneUser.description}}</p>
  <div>
    <p>Reviews:</p>
    {{#ifeqId oneUser._id userInfo._id}}
      You have {{oneUser.reviews.length}} review(s)
    {{else}}
      <form action="/profile/{{oneUser._id}}/review" method="POST">
        <label for="review">Write a review for this user: </label>
        <input name="review" type="textarea">
        <button type="submit">Submit review</button>
      </form>
    {{/ifeqId}}
    <ul>
      {{#each oneUser.reviews}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>

  {{#ifeqId oneUser._id userInfo._id}}
  <div class="user-actions">
    <button><a href="/profile/{{oneUser._id}}/edit">Edit profile</a></button>
    <button id="delete-button"><a href="/profile/{{oneUser._id}}/delete">Delete profile</a></button>
    <p><a href="/profile/{{oneUser._id}}/events">See my events</a></p>
  </div>
</div>
{{/ifeqId}}