<div class="container-fluid">
  <div class="jumbotron pb-0 pt-0">
    <h1 class="font-weight-bold">MY PROFILE</h1>
  </div>

  <div class="card">
    <div class="card-body">
      <h3 class="card-title text-center"> {{user.name}}</h3>
    </div>
    <img class="card-img-top" src="{{user.profileImg}}" alt="Profile picture">

    <li class="list-group-item pl-5"><span class="font-weight-bold">Forks:</span> {{user.score}}</li>

    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><span class="font-weight-bold">Address:</span> <br>
          {{#ifeqId user._id currentUser._id}}
          {{user.address.street}} {{user.address.houseNumber}}<br>
          {{user.address.zipcode}} <br>
          {{user.address.city}} </li>
        {{/ifeqId}}

        {{#ifneqId user._id currentUser._id}}
        {{user.address.zipcode}} </li>
        {{/ifneqId}}

        <li class="list-group-item">
          <span class="font-weight-bold">Description:</span> {{user.description}}
        </li>

        <li class="list-group-item font-weight-bold">Reviews:</li>
        {{!-- if user is on his profile --}}
        {{#ifeqId user._id currentUser._id}}
        <h5 class="card-text text-center">You have {{user.reviews.length}} review(s)</h5>
        {{else}}
        {{!-- if current user is on another user profile --}}
        <h5 class="card-text text-center">{{user.reviews.length}} review(s)</h5>

        {{!-- if current user is or has been a guest to this other user --}}
        {{#if arrayOfGuests}}
        {{#each arrayOfGuests}}
        {{#ifeqId this ../currentUser._id}}
        <form action="/profile/{{../user._id}}/review" method="POST">
          <div class="form-group">
            <label for="review">{{../user.name}} is one of your hosts. Write a review for this user: </label>
            <input class="form-control" name="review" type="textarea">
          </div>
          <button class="btn btn-primary" type="submit">Submit review</button>
        </form>
        {{/ifeqId}}
        {{/each}}
        {{/if}}

        {{!-- if current user is or has been a host to this other user --}}
        {{#if host}}
        {{#ifeqId host currentUser._id}}
        <form action="/profile/{{user._id}}/review" method="POST">
          <div class="form-group">
            <label for="review">{{user.name}} is one of your guests. Write a review for this user: </label>
            <input class="form-control" name="review" type="textarea">
          </div>
          <button class="btn btn-primary" type="submit">Submit review</button>
        </form>
        {{/ifeqId}}
        {{/if}}
        {{/ifeqId}}

        <div class="card mt-2">
          <ul class="list-group">
            {{#each user.reviews}}
            <li class="list-group-item">{{this}}</li>
            {{/each}}
          </ul>
      </ul>
    </div>
  </div>

  {{#ifeqId user._id currentUser._id}}
  <div class="user-actions">
    <a class="btn btn-primary ml-5 mb-3" href="/profile/{{user._id}}/edit">Edit profile</a>
    <a class="btn btn-primary ml-4 mb-3" href="/profile/{{user._id}}/delete">Delete profile</a>
  </div>
  {{/ifeqId}}

</div>